/* Icons from directory "" */
.icon-add,.icon-add\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-add-dims{width:18px;height:18px}
.icon-nevigate_next_la,.icon-nevigate_next_la\:regular{background-image:url('icons/icons.svg');background-position:0 -18px;background-repeat:no-repeat}
.icon-nevigate_next_la-dims{width:33px;height:57px}
.icon-nevigate_next_sm,.icon-nevigate_next_sm\:regular{background-image:url('icons/icons.svg');background-position:0 -75px;background-repeat:no-repeat}
.icon-nevigate_next_sm-dims{width:8px;height:14px}
.icon-nevigate_next_xs,.icon-nevigate_next_xs\:regular{background-image:url('icons/icons.svg');background-position:0 -89px;background-repeat:no-repeat}
.icon-nevigate_next_xs-dims{width:6px;height:11px}
.icon-nevigate_prev_la,.icon-nevigate_prev_la\:regular{background-image:url('icons/icons.svg');background-position:0 -100px;background-repeat:no-repeat}
.icon-nevigate_prev_la-dims{width:33px;height:57px}
.icon-nevigate_prev_sm,.icon-nevigate_prev_sm\:regular{background-image:url('icons/icons.svg');background-position:0 -157px;background-repeat:no-repeat}
.icon-nevigate_prev_sm-dims{width:8px;height:14px}
.icon-shpping_cart,.icon-shpping_cart\:regular{background-image:url('icons/icons.svg');background-position:0 -171px;background-repeat:no-repeat}
.icon-shpping_cart-dims{width:24px;height:24px}